#title_bar_container {
    height: 36px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--title_bar);
    z-index: 2;
}

#title_bar_app_icon {
    height: 36px;
    width: 40px;
    position: relative;
}

#title_bar_app_icon svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.title_bar_menu_button_label {
    height: 100%;
    padding: 0px 8px;
    border-radius: 4px;
    background-color: var(--menu_bar);
}

.title_bar_menu_button {
    font-size: 13px;
    margin: 4px 0px;
    height: 28px;
    line-height: 28px;
    user-select: none;
    display: inline-block;
}

.title_bar_menu_button_label:hover,
.title_bar_menu_button_label_opened {
    background-color: var(--menu_bar_hover);
}

#title_bar_window_control {
    height: 100%;
    width: 135px;
    display: flex;
    flex-direction: row;
}

.title_bar_flex_space {
    flex-grow: 1;
}

.window_control_button {
    height: 100%;
    flex-grow: 1;
    position: relative;
}

.window_control_button svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#window_control_maximize_button:hover,
#window_control_minimize_button:hover  {
    background-color: var(--window_control_hover);
}

#window_control_close_button:hover {
    background-color: #f00;
}

#window_control_close_button:hover>svg {
    color: #fff;
}

.title_bar_menu_contents.title_bar_menu_contents_opened {
    display: block;
    box-shadow: 2px 2px 6px #1118;
}

.title_bar_menu_contents {
    display: none;
    position: absolute;
    border-radius: 4px;
    padding: 3px;
    background-color: var(--menu_bar_drop_down);
}

.title_bar_menu_content {
    width: 200px;
    height: 25px;
    line-height: 25px;
    padding: 0 20px;
}

.title_bar_menu_content:hover {
    border-radius: 4px;
    background-color: var(--menu_bar_drop_down_hover);
}

a {
    color: var(--char_color);
    text-decoration: none;
}

#title_bar_save_state {
    text-align: center;
    line-height: 36px;
    font-size: 13px;
}

#app_theme_toggle_switch_container {
    position: relative;
    width: 72px;
}

#app_theme_toggle_switch {
    position: absolute;
    margin: auto;
    inset: 0;
    background-color: #ddd;
    width: 48px;
    height: 26px;
    border-radius: 256px;
}

#app_theme_toggle_switch_button {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 25px;
    margin-left: 3px;
    inset: 0;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 256px;
    -webkit-transition: 0.1s ease-out;
    transition: 0.2s ease-out;
}

.right>#app_theme_toggle_switch_button {
    margin-right: 3px;
    margin-left: 25px;
    -webkit-transition: 0.1s ease-out;
    transition: 0.2s ease-out;
}

#app_theme_toggle_switch>svg {
    color: #333;
}

#app_theme_toggle_switch_sun {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 6px;
    inset: 0;
}

#app_theme_toggle_switch_moon {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 6px;
    inset: 0;
}