#window_control {
    display: flex;
    flex-direction: row;
}

#window_control>.button {
    width: 50px;
    position: relative;
}

#window_control>.button>svg {
    width: 50px;
    position: absolute;
    margin: auto;
    inset: 0;
}

#window_control>.button.minimize:hover,
#window_control>.button.maximize:hover {
    background-color: var(--window_control_hover);
}

#window_control>.button.close:hover {
    background-color: #f00;
}