#work_space {
    flex-grow: 1;
    background-color: var(--background_color_1);
    padding: 15px;
    display:flex;
    flex-direction: column;
}

#work_space_row_flex_1 {
    height: 100px;
    margin: 0 0 20px 0;
    border-bottom: dashed var(--background_color_2);
}

#work_space_row_flex_2 {
    flex-grow: 1;
    margin: 0;
    display: flex;
    flex-direction: row;
}

#work_space_row_flex_3 {
    height: 36px;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
}

.work_space_flex_space {
    flex-grow: 1;
}
