.new_project_modal_text_box::-webkit-inner-spin-button,
.new_project_modal_text_box::-webkit-outer-spin-button {
    appearance: none;
}

.new_project_modal_text_box {
    display: block;
    height: 28px;
    font-size: 16px;
    font-family: inherit;
    margin-top: 1px;
    appearance: textfield;
    border: none;
    border-radius: 2px;
    outline: none;
    color: var(--char_color);
    padding-left: 5px;
    font-size: 16px;
    background-color: var(--text_box);
}

.new_project_modal_text_box:focus {
    background-color: var(--text_box_focus);
}

.new_project_modal_confirm {
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    margin: 0 10px 10px 10px;
    padding-left: 5px;
    background-color: var(--modal_confirm);
}

.new_project_modal_confirm:hover {
    background-color: var(--modal_confirm_hover);
}

.new_project_modal_canvas_size {
    display: flex;
    flex-direction: row;
}

.new_project_modal_canvas_size_part {
    flex-grow: 1;
    margin: 10px;
}

.new_project_modal_canvas_size_part_title {
    padding-left: 5px;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
}

.new_project_modal_title {
    font-size: 32px;
    line-height: 48px;
    height: 48px;
    text-align: center;
}

.image_export_modal_text_box::-webkit-inner-spin-button,
.image_export_modal_text_box::-webkit-outer-spin-button {
    appearance: none;
}


.image_export_modal_text_box {
    display: inline;
    height: 28px;
    font-size: 16px;
    font-family: inherit;
    margin-top: 1px;
    appearance: textfield;
    border: none;
    border-radius: 2px;
    outline: none;
    color: var(--char_color);
    padding-left: 5px;
    font-size: 16px;
    background-color: var(--text_box);
    width: 440px;
}

.image_export_modal_text_box:focus {
    background-color: var(--text_box_focus);
}

.image_export_modal_confirm {
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    margin: 0 10px 10px 10px;
    padding-left: 5px;
    background-color: var(--modal_confirm);
}

.image_export_modal_confirm:hover {
    background-color: var(--modal_confirm_hover);
}

.image_export_modal_canvas_size {
    display: flex;
    flex-direction: row;
}

.image_export_modal_canvas_size_part {
    flex-grow: 1;
    margin: 10px;
}

.image_export_modal_canvas_size_part_title {
    padding-left: 5px;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
}

.image_export_modal_title {
    font-size: 32px;
    line-height: 48px;
    height: 48px;
    text-align: center;
}