body {
    --char_color_1: #fff;
    --char_color_2: #fff1;
    --char_color_3: #fff2;
    --char_color_4: #fff4;
    --char_color_5: #fff6;
    --background_color_1: #222;
    --background_color_2: #333;
    --background_color_3: #444;
    --background_color_4: #555;
    --accent_color_1: #5fe075;
    --accent_color_2: #5fe07566;
    --accent_color_3: #5fe07544;
    --accent_color_4: #5fe07522;
}

body.light {
    --char_color_1: #333;
    --char_color_2: #3331;
    --char_color_3: #3332;
    --char_color_4: #3334;
    --char_color_5: #3336;
    --background_color_1: #400;
    --background_color_2: #040;
    --background_color_3: #004;
    --background_color_4: #444;
    --accent_color_1: #5fe075;
    --accent_color_2: #5fe07566;
    --accent_color_3: #5fe07544;
    --accent_color_4: #5fe07522;
}