#canvas_area {
    background-color: #fff;
    flex-grow: 1;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

#canvas_body_div,
#canvas_background_div {
    position: absolute;
    margin: 0;
    padding: 0;
}

#canvas_body_div canvas,
#canvas_background_div canvas {
    image-rendering: pixelated;
    user-select: none,
}

#canvas_scroll_bar_vertical {
    right: 0;
    width: 10px;
}

#canvas_scroll_bar_horizontal {
    bottom: 0;
    height: 10px;
}

.canvas_scroll_bar {
    position: absolute;
    background-color: #0004;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drug: none;
}

.canvas_scroll_bar:hover {
    position: absolute;
    background-color: #0006;
}