#zoom_in_out {
    display: flex;
    flex-direction: row;
    
}

#zoom_in_out_button_outer {
    background-color: #222;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    height: 36px;
}

#zoom_ratio_outer {
    display: table;
    width: 70px;
    height: 36px;
}

#zoom_ratio_inner {
    display: table-cell;
    vertical-align: middle;
    user-select: none;
    font-size: 16px;
}

input#zoom_text_box::-webkit-inner-spin-button,
input#zoom_text_box::-webkit-outer-spin-button {
    appearance: none;
}

input#zoom_text_box {
    width: 32px;
    height: 24px;
    font-size: 16px;
    font-family: inherit;
    margin-top: 1px;
    appearance: textfield;
    background-color: #4444;
    border: none;
    border-radius: 2px;
    outline: none;
    color: #fff;
}

input#zoom_text_box:focus {
    background-color: #444b;
    border: none;
    border-radius: 2px;
}

.zoom_in_out_button {
    height: 36px;
    width: 36px;
    position: relative;
    display: inline-block;
    border-radius: 4px;
}

.zoom_in_out_button:hover {
    background-color: #5fe07522;
}

.zoom_in_out_button:active {
    background-color: #5fe07544;
}

.zoom_in_out_button svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
