#layer_area {
    height: 100%;
    width: 150px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#layer_list {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    scrollbar-gutter: stable;
    scrollbar-color: #555 #0000;
    overflow-y: auto;
    overflow-x: hidden;
}

.layer_thumbnail {
    width: 100px;
    height: 100px;
    margin: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.layer_thumbnail_delete_button {
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: #444;
    width: 24px;
    height: 24px;
    border-radius: 100px;
}

.layer_thumbnail_delete_button:hover {
    background-color: #555;
}

.layer_thumbnail_delete_button>svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.layer_thumbnail_preview_container {
    border-radius: 10px;
    outline: 3px solid #2228;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.layer_thumbnail_preview_container:hover {
    outline: 3px solid #5fe07588;
}

.layer_thumbnail_preview_container.layer_thumbnail_selected {
    outline: 3px solid #5fe075;
}

.layer_thumbnail_preview {
    width: 100%;
    height: 100%;
}

#layer_add_button {

    width: 100px;
    height: 50px;
    margin: 15px 25px;
    border-radius: 10px;
    background-color: #444;
    position: relative;
    
}

#layer_add_button:hover {
    background-color: #555;
}

#layer_add_button>svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.layer_thumbnail_delete_button {
    

}

.layer_thumbnail_delete_button>svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}