html, body, #root, #window {
    margin: 0;
    width: 100%;
    height: 100%;
}

#window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

div, canvas {
    user-select: none;
    -webkit-user-drag: none;
}