.common_color_picker_container {
    position: relative;
}

.common_color_picker_thumbnail {
    border-radius: 4px;
    position: absolute;
}

.common_color_picker_flex {
    display: flex;
    flex-direction: row;
}

.common_color_picker_main {
    background-color: #444;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    z-index: 1;
}

.common_color_picker_mode {
    flex-grow: 1;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    background-color: #333;
    margin: 0 0 6px 0;
}

.common_color_picker_palette_icon {
    width: 30px;
    height: 30px;
    margin-bottom: 6px;
    position: relative;
}

.common_color_picker_palette_icon>svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.common_color_picker_palette_icon:hover {
    background-color: #fff1;
    border-radius: 4px;
}

.common_color_picker_box {
    background-color: #fff1;
    border: none;
    border-radius: 2px;
    outline: none;
    color: #fff;
    height: 20px;
    width: 150px;
}

.common_color_picker_box:focus {
    background-color: #fff2;
    border: none;
    border-radius: 2px;
}

.common_color_picker_palette {
    position: absolute;
    background-color: #444;
    left: 171px;
    border-radius: 4px;
    width: 220px;
    height: 200px;
    z-index: 1;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    scrollbar-color: #555 #0000;
    padding-top: 5px;
    padding-bottom: 5px;
}

.common_color_picker_palette_add_button {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #fff1;
    margin: 5px 0 0 10px;
    border-radius: 4px;
}

.common_color_picker_palette_add_button>svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.common_color_picker_palette_color_button {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px 0 0 10px;
    border-radius: 4px;
}