.common_slider {
    background-color: #666;
    border-radius: 4px;
    user-select: none;
    margin: 3px 5px;
}

.common_slider_inner {
    position: relative;
}

.common_slider_knob {
    position: absolute;
    background-color: var(--char_color_4);
    border-radius: 2px;
    user-select: none;
}

.common_slider_knob:hover {
    position: absolute;
    background-color: var(--char_color_5);
}

.common_slider_with_box_outer {
    position: relative;
    display: flex;
    flex-direction: row;
}

.common_slider_with_box_box {
    top: 1px;
    position: absolute;
    font-family: inherit;
    appearance: textfield;
    background-color: var(--char_color_2);
    border: none;
    border-radius: 2px;
    outline: none;
   color: var(--char_color_1);
}

.common_slider_with_box_box::-webkit-inner-spin-button,
.common_slider_with_box_box::-webkit-outer-spin-button {
    appearance: none;
}

.common_slider_with_box_box:focus {
    background-color: var(--char_color_3);
    border: none;
    border-radius: 2px;
}