.tool_menu_brush_color,
.tool_menu_eraser_color {
    height: 100%;
    display: flex;
    flex-direction: row;

}

.tool_menu_brush_color_text {
    line-height: 60px;
    margin: 0 15px;
}

.tool_menu_brush_thickness,
.tool_menu_eraser_thickness {
    margin-top: 5px;
}

.tool_menu_select_brush_part {
    display: flex;
    flex-direction: column;
}

.tool_menu_select {
    display: flex;
    flex-direction: row;
}

.tool_menu_select_edit_button {
    position: relative;
    width:  40px;
    height: 40px;
    border-radius: 4px;
    margin: 25px 5px;
}

.tool_menu_select_edit_button>svg {
    position: absolute;
    inset: 0;
    margin: auto;
}

.tool_menu_select_edit_button:hover {
}